IA/UA-03/exemplo3.xml

<?xml version="1.0" encoding="UTF-8" ?>
<!-- estrutura básica de um XSD -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="endereco">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nome" type="xs:string" />
                <xs:element name="empresa" type="xs:string" />
                <xs:element name="telefone" type="xs:int" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>